<header>
  <div class="content container">
    <nav>
      <div class="colsm-12 col-md6 left-content">
          <ul class="primary">

              <li class="logo">
                <a href="/">
                  <img src="https://www.themoviedb.org/assets/2/v4/logos/primary-green-d70eebe18a5eb5b166d5c1ef0796715b8d1a2cbc698f96d311d62f894ae87085.svg" alt="The Movie Database (TMDb)" width="81" height="72">
                </a>
              </li>
              <li>
                <a href="/discover">Discover</a>
                <ul class="sub_menu discover hide" style="display: none;">
                  <li><a href="/discover/movie">Movies</a></li>
                  <li><a href="/discover/tv">TV Shows</a></li>
                </ul>
              </li>
              <li>
                <a href="/movie">Movies</a>
                <ul class="sub_menu movie hide" style="display: none;">
                  <li><a href="/movie">Popular</a></li>
                  <li><a href="/movie/top-rated">Top Rated</a></li>
                  <li><a href="/movie/upcoming">Upcoming</a></li>
                  <li><a href="/movie/now-playing">Now Playing</a></li>
                </ul>
              </li>
              <li>
                <a href="/tv">TV Shows</a>
                <ul class="sub_menu tv hide" style="display: none;">
                  <li><a href="/tv">Popular</a></li>
                  <li><a href="/tv/top-rated">Top Rated</a></li>
                  <li><a href="/tv/on-the-air">On TV</a></li>
                  <li><a href="/tv/airing-today">Airing Today</a></li>
                </ul>
              </li>
              <li>
                <a href="/person">People</a>
                <ul class="sub_menu person hide" style="display: none;">
                  <li><a href="/person">Popular People</a></li>
                </ul>
              </li>

          </ul>
      </div>
    </nav>
  </div>
</header>
