
    .main-rating {
      .value-rating {
        position: relative;
        top: 26px;
        left: 25px;
        font-size: 18px;
        font-weight: bold;
        z-index: 1;
      }
      .circular-chart {
        display: block;
        margin: 5px;
        max-width: 70px;
        max-height: 70px;
        position: absolute;
        top: 0;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
      }

      .circle {
        stroke: #4cc790;
        fill: none;
        stroke-width: 2.8;
        stroke-linecap: round;
        animation: progress 2s ease-out forwards;
        background-color: rgba(0, 0, 0, 0.5);
      }

      .circle-back {
        stroke: #81a294;
        fill: none;
        stroke-width: 2.8;
        stroke-linecap: round;
        // animation: progress 1s ease-out forwards;
      }
    }
    @keyframes progress {
      0% {
        stroke-dasharray: 0 100;
      }
    }
