/* custom.scss */

/* import the necessary Bootstrap files */
// @import "./bootstrap/scss/bootstrap.scss";
// @import "bootstrap/variables";

// /* make changes to the !default Bootstrap variables */
// // $body-color: green;

// /* finally, import Bootstrap to set the changes! */
// @import "bootstrap";
body {
  font-family: 'Source Sans Pro', Arial, sans-serif;
}
main {
  padding-top: 175px;
}
.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  img {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
